body {
  font-family: Verdana, 'Trebuchet MS', Tahoma, sans-serif;
  line-height: 25px;
  color: #000;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  background-color: #964EC2;
  display: grid;
}

.main-bg {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #FFFF;
}

h1, h2 {
  font-family: Georgia, serif;
  text-align: center;
}

/** RESUME **/
ol {
  list-style-type: none;
  color: #D1D7E0;
  background-color: #2D283E;
  border: 1px solid #D1D7E0;
  margin: 1%;
  padding: 12px;
  border-radius: 10px;
}
  
ul {
  list-style-type: none;
}

ul li, p {
  font-weight: bold;
}

ul p {
  text-indent: 50px;
  text-align: justify;
}
  
.school ul {
  font-size: 18px;
}
  
.school li {
  list-style-type: disc;
}
  
.list {
  list-style-type: disc;
}

.resume-header {
  position: relative;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 2%;
}

.resume-header img {
  height: 50%;
  max-width: 50%;
  border: 2px solid #D1D7E0;
  border-radius: 100%;
  background-color: #2D283E;
}

#name {
  font-family: Georgia, serif;
  font-size: 22px;
}